@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
:root{
    --secColor:#d46868;
}
*{
    padding: 0;
    margin: 0;
}
body{
    min-height: 100vh;
}
ul{
    list-style-type: none;
}
.main{
    width: 100%;
    overflow-x: hidden;
}
.navbar-brand,.nav-link{
    font-family:"Inter", sans-serif;
}
.navbar-brand{
    font-weight: 700;
    letter-spacing: .5px;
}
.nav-link{
    font-size: 16px;
    font-weight: 400;
    margin: 0 12px;
}
#dot{
    color: var(--secColor);

}
#headContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
    border-bottom: rgb(50, 52, 56) solid 1px;

}
.head{
    margin: 0 0 100px 0;
    height: auto;
}
.head .text-box1{
    font-family:"Urbanist" ,sans-serif;
    line-height: 90px;
}
#headText{
    color: #fff;
    font-weight: 600;
}
.text-box2{
    margin: 10;
    width: 72%;
    margin: auto;
}
.head .text-box2 p{
    color: #fff;
    font-family: "inter",sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.head #inputField{
    max-width: 800px;
    min-width: 220px;
}
.head #inputField .input{
    display: flex;
    flex-wrap: wrap;
}
#email, #submit{
    font-family: "Urbanist" ,sans-serif;
    font-weight: 500;
    font-size: 20px;
    border: none;
    min-height: 45px;
    width: 0px;  
    text-align: left;
    padding-left: 5px;
    width: 412px;
}

#submit{
    background-color: var(--secColor); 
    max-width: 300px;
}
#inputField p{
    color: #fff;
    margin-top: 40px;
    font-family: "Urbanist" ,sans-serif;
    font-weight: 400;
    font-size: 22px;
}
svg{
    position: relative;
    left: 90%;
}
.sec2{
    width: 100%;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-x: hidden;
}
#sec21{
    color: #DEDEDE;
    font-family:"Urbanist",sans-serif ;
    font-weight: 500;
    font-size: 38px;
    line-height:43.9px ;
}
#sec22{
    color: #DEDEDE;
    font-size: 35px;
    font-family: "Urbanist",sans-serif;
    font-weight: 500;
    line-height: 40.43px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 80px;
}
#sec22 img{
    max-width: 370px;
    min-width: 260px;
    border-radius: 100%;
    margin: 0 50px;
}
.sec2 button{
    font-family: "Urbanist",sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #a9a9a9a9;
    margin: 20px auto;
    margin: 20px 0;
}
#separator{
    height: auto;
    min-height: 160px;
}
#separator div{
    border: #484E53 solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
#separator div p{
    font-family: "Urbanist",sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30.8px;
    text-wrap: wrap;
}
.sec3{
    padding: 50px 50px;
    height: auto;
    border-bottom: rgb(50, 52, 56) solid 1px;

}
.sec3 #sec3title{
    font-family: "Urbanist";
    font-weight: 500;
    font-size: 64px;
    line-height: 73.93px;
    color: #DEDEDE;
    margin: 70px 0;
}
#Services{
    margin: 50px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sec3 #Services .service{
    font-family: "Urbanist";
    font-weight: 400;
    font-size: 28px;
    line-height: 32.35px;
    color: #DEDEDE;
}
.sec3 #Services p{
    font-family: "Urbanist",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21.56px;
    color: #a9a9a9;
}
.sec3 #Services button{
    font-family: "Urbanist",sans-serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 38.51px;
    border-radius: 30px;
}
.sec4{
    padding: 50px 10px 0 10px;
    height: auto;
}
.sec4 #textSec .title{
    font-family: "Urbanist",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24.64px;
    color: #A9A9A9;
}
.sec4 #textSec p{
    color: #dedede;
    font-family: "Urbanist",sans-serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 43.9px;
}
.sec4 #graphSec{
    margin: 100px 0 10px 0;
}
#graphSec{
    width: 100%;
    height: auto;
    border-bottom: rgb(50, 52, 56) solid 1px;

}
.sec5{
    height: auto;
    border-bottom: rgb(50, 52, 56) solid 1px;
    display: flex;
    flex-direction: column;
    
}
.sec5 #sec51{
    margin:0 0 5px 10%;
}
.sec5 #sec51 p:first-child{
    font-family: "Urbanist",sans-serif;
    font-weight: 400;
    color: #a9a9a9;
    font-size: 16px;
    line-height: 24.64px;
}
.sec5 #sec51 p:last-child{
    font-family: "Urbanist",sans-serif;
    font: 500;
    font-size:38px;
    line-height: 43.9px;
    color: #DEDEDE;

}

.sec5 #sec52{
    width: 90%;
    height: auto;
    margin: auto;
}
.sec5 #sec52 p:first-child{
    font-family: "Urbanist",sans-serif;
    font-size:38px;
    font-weight: 500;
    color: #dedede;
    line-height: 43.9px;
    width: 60%;
    min-width: 320px;
}
.sec5 #sec52 p:last-child{
    font-family: "Urbanist",sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #A9A9A9;
}
.sec5 #sec52 ul li{
    font-family: "Urbanist",sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #dedede;
    line-height: 5px;
}
.sec5 #sec52 ul > li:before {
    content: "- ";
  }
#arrows{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 30px 0;
}
#sec53{
    width: 90%;
    margin: auto;
    margin-top: 50px;
}
#sec53 #sec531 p:first-child{
    font-family: "Abhaya Libre ExtraBold", serif;
    font-weight:800;
    font-size: 48px;
    line-height: 50.88px;
    color: #ffffff;
    max-width:450px;
}
#sec53 #sec531 p{
    font-family: "Urbanist",sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 31.8px;
    color: #ffffff;
    max-width:420px;
    text-transform: capitalize;
    margin: 40px 0;
}
#sec53 #sec531 p span{
    font-family: "Urbanist",sans-serif;
    font-weight: 400;
    line-height: 52px;
}
#sec53 #sec531 button{
    width: 280px;
    border-radius: 30px;
    height: 60px;
    font-family: "Urbanist",sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #a9a9a9;
    text-align: start;

}
#sec53 #sec532{
    height: auto;
    margin-top: 100px;   
}
#sec53 #sec532 div{
    margin: 5px;
    text-align: start;
}
#sec53 #sec532 div p:first-child{
    font-family: "Abhaya Libre ExtraBold",serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 50.88px;
    color: #ffffff;
}
#sec53 #sec532 div p:last-child{
    font-family: "Urbanist",sans-serif;
    font-weight: 500;
    font-size: 25px;
    line-height: 26.5px;
    color: #ffffff;
  
}